{{define "navbar"}}
<div class="flex px-20 py-7 justify-between items-center bg-white shadow-lg">
    <h1 class="text-2xl text-gray-800 font-bold">Ticket App</h1>
    <div class="flex items-center gap-2">
        <ul class="flex items-center space-x-6">
            <li class="font-semibold text-gray-700 text-xl"><a href="/">Home</a></li>
            {{if $.IsAdmin}}
            <li class="font-semibold text-gray-700 text-xl"><a href="/signup">New User</a></li>
            {{end}}
            <li>
                <button hx-post="/api/v1/logout" hx-swap="outerHTML" hx-target="body" hx-push-url="true" type="submit"
                    class="font-bold text-red-700 text-xl">
                    Logout
                </button>
            </li>
        </ul>
    </div>
</div>
{{end}}
