{{define "addTicket"}}
<div class="w-full h-auto rounded-xl shadow-lg p-3 border border-gray-200 bg-white">
    <form>
        <div class="mb-5">
            <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
                Title
            </label>
            <input type="text" name="title" id="title" placeholder="Enter your title" maxlength="30"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
        <div class="mb-5">
            <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
                Description
            </label>
            <textarea rows="4" name="description" id="description" placeholder="Type your description" maxlength="100"
                class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
        </div>
        <div>
            <button type="submit" hx-post="/api/v1/addTicket" hx-swap="outerHTML" hx-target="body"
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                Add Ticket
            </button>
        </div>
    </form>
</div>
{{end}}
