{{define "getTickets"}}
<div class="flex flex-col w-full">
    {{range $index, $ticket := .Tickets}}
    <div id="card" class="flex rounded-xl shadow-lg p-3 mb-6 border border-gray-200 bg-white">
        <div class="w-full bg-white flex flex-col justify-between space-y-2 p-3 break-words">
            <h3 class="font-black text-gray-800 md:text-3xl text-xl">{{$ticket.Title}}</h3>
            <p class="md:text-lg text-gray-500 text-base">{{$ticket.Description}}</p>
            <p class="md:text-lg text-gray-500 text-base">{{index $.CreatedAt $index}}</p>
            {{if $ticket.CreatedBy}}
            <p class="md:text-lg text-gray-500 text-base">{{index $.UserName $index}}</p>
            {{end}}
        </div>
        {{if $.IsAdmin}}
        <div>
            <button class="md:text-lg text-gray-500 text-base" hx-patch="/api/v1/solveTicket/{{.Id}}"
                hx-target="closest #card" hx-swap="outerHTML">Mark as solved</button>
        </div>
        {{end}}
    </div>
    {{end}}
</div>
{{end}}
